#################
## Clion
#################
.idea
cmake-build-*

#################
## Visual Studio Code
#################
.vscode

#################
## Visual Studio
#################
.vs
*.vcxproj.user
# CMakeSettings.json